<div class="header">
    <div class="title">{{title}}</div>
    <div class="links">
        <a href="/" class="">home</a>
<a href="/about/" class="">about</a>
<a href="/help/" class="">help</a>
</div></div>
