<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  {{>header}}
    
    <form action="" method="get">
      <input type="search" name="addresss">
      <Button type="submit">search</Button>
    </form>
    <p class="location"></p>
    <p class="data"></p>
    <p class="formaxandmin"></p>
    
   {{>footer}}
</body>
<script src="fordata.js" ></script>
</html>